<mat-toolbar color="primary">

  <button type="button" mat-icon-button aria-label="Toggle sidenav" *ngIf="isHandset$ | async" (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <span>Rent-A-Car</span>

</mat-toolbar>

<ng-content></ng-content>

<!--<mat-sidenav-container>-->
<!--  <mat-sidenav #drawer [opened]="!(isHandset$ | async)" role="region" [mode]="(isHandset$ | async) ? 'over' : 'side'">-->
<!--    <mat-nav-list>-->
<!--      <a mat-list-item href="#">Link 1</a>-->
<!--      <a mat-list-item href="#">Link 2</a>-->
<!--      <a mat-list-item href="#">Link 3</a>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <ng-content></ng-content>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<mat-toolbar color="primary">

  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="mat-h5">@copyright - ylmatheesha@gmail.com</span>
  </div>

</mat-toolbar>
